extends ../../layout/layout

block vars
	- var pageTitle = 'Деньпобеды.бел | Видеозаписи приздничных концертов'
	- var pageBodyClass = ''
	- var dir = './'


block main

	include ../../components/video/hero


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()
block componentsScripts
	+componentsScripts-includer()
