@import "src/assets/css/vars_mixins/vars_mixins";

:root {
	--base-color: #f6a936;
	--base-color-hover: #809dff;
	--text-color: #999999;
	--text-color-black: #232323;
	--bg-card: #fafafa;
	--radius: 0.8rem;
	--radiusXL: 1.6rem;
	--border: #f1f1f1;
	--section-margin: 9rem;
}
