+include-style('header')
+include-script('header')

//header.header
header.header
	.container
		.header-inner
			.header-inner__logo
				img(src=PATH+'images/img.png')
			.header-menu
				a(href="#services").header-menu__item
					span Строительство и ремонт
				a(href="#roof").header-menu__item
					span Доборные элементы
				//-a(href="#").header-menu__item
					span Доборные элементы
				a(href="#rent").header-menu__item
					span Аренда спецтехники


			.header-contacts
				.btn.btn--primary
					span Связаться с нами