


footer.footer
	.footer-wrap
		.footer-mob
			img(src=PATH + 'images/theatre.png' loading="lazy")
		.footer-inner
			.footer-text Создано при поддержке:
			.footer-logo
				img(src=PATH + 'images/logo_AES.svg' loading="lazy")