-
	var videos = [
		{
			url: 'https://www.youtube.com/embed/cJ3_RRIvrSw?si=yJ9RsN0CpduwR7GJ?autoplay=1',
			title: '24.06.2014, Минск',
			text: 'В программе концерта прозвучали музыкальные подарки и поздравления от народной артистки Беларуси Наталии ГАЙДА, заслуженной артистки Республики Беларусь Маргариты АЛЕКСАНДРОВИЧ, дипломанта международного конкурса Сергея СУТЬКО, Виктора ЦИРКУНОВИЧА и многих других.',
		},
		{
			url: 'https://www.youtube.com/embed/r_hl22tmJ2k?si=FGIPqwmjvbktILhr',
			title: '06.05.2015, Минск',
			text: 'В программе концерта прозвучали музыкальные подарки и поздравления от народной артистки Беларуси Наталии ГАЙДА, заслуженной артистки Республики Беларусь Маргариты АЛЕКСАНДРОВИЧ, дипломанта международного конкурса Сергея СУТЬКО, Виктора ЦИРКУНОВИЧА и многих других.',
		},
		{
			url: 'https://www.youtube.com/embed/0vgtYi30yzg?si=wscdUj5W_Stiwbdi',
			title: '05.05.2016, Минск',
			text: 'Народная артистка Беларуси Наталия Гайда, заслуженная артистка Беларуси Маргарита Александрович, лауреаты международных конкурсов Евгений Ермаков, Виктор Циркунович, Лидия Кузьмицкая, Наталья Дементьева, дипломант международного конкурса Сергей Сутько и многие другие.',
		},
		{
			url: 'https://www.youtube.com/embed/OL_tJ1p37iY?si=FtXEIF7BoBjSwLQQ',
			title: '04.05.2017, Минск',
			text: 'В концерте примут участие народная артистка Беларуси Наталия Гайда, заслуженные артисты Республики Беларусь Маргарита Александрович и Антон Заянчковский, лауреаты международных конкурсов Евгений Ермаков, Виктор Циркунович, Лидия Кузьмицкая, Наталья Дементьева, Сергей Сутько, Екатерина Дегтярёва, дипломант международного конкурса Артем Хомичёнок, артисты театра Людмила Станевич, Николай Русецкий, Сергей Килессо, Михаил Лила, Дмитрий Климович, Ольга Здярская, симфонический оркестр, артисты хора и артисты балета оперетты и мюзикла.',
		},
		{
			url: 'https://www.youtube.com/embed/F5nJyuhAjWQ?si=AlbaiguDVAhhKfdZ',
			title: '06.05.2017, Могилев',
			text: 'В концерте примут участие народная артистка Беларуси Наталия Гайда, заслуженные артисты Республики Беларусь Маргарита Александрович и Антон Заянчковский, лауреаты международных конкурсов Евгений Ермаков, Виктор Циркунович, Лидия Кузьмицкая, Наталья Дементьева, Сергей Сутько, Екатерина Дегтярёва, дипломант международного конкурса Артем Хомичёнок, артисты театра Людмила Станевич, Николай Русецкий, Сергей Килессо, Михаил Лила, Дмитрий Климович, Ольга Здярская, симфонический оркестр, артисты хора и артисты балета оперетты и мюзикла.',
		},
		{
			url: 'https://www.youtube.com/embed/IFYe4TShxak?si=pvYcHoH8HnLvvUCa',
			title: '04.05.2018, Минск',
			text: 'В концерте приняли участие: народная артистка Беларуси Наталия Гайда, заслуженные артисты Республики Беларусь Маргарита Александрович и Антон Заянчковский, лауреаты международных конкурсов Евгений Ермаков, Виктор Циркунович, Лидия Кузьмицкая, Наталья Дементьева, Сергей Сутько, Екатерина Дегтярёва, Наталья Глух, Леся Лют, Михаил Лила, дипломанты международных конкурсов Александр Осипец, Дмитрий Матиевский, Анна Беляева, артисты театра Людмила Станевич, Николай Русецкий, Сергей Килессо, Дмитрий Климович, Анзор Алимирзоев, Ольга Гучек, Анна Егораева, Вера Кондратина, Светлана Корнелюк, Карина Самцова, Арина Хлус и симфонический оркестр театра под управлением главного дирижера театра – лауреата международного конкурса Юрия Галяса и дирижера Марины Третьяковой, а также дети артистов театра и детские хоровые коллективы Минска.',
		},
		{
			url: 'https://www.youtube.com/embed/u9dpRM2_wEw?si=kQhjaba8GbgyFASr',
			title: '04.05.2019, Минск',
			text: 'В концерте приняли участие: народная артистка Беларуси Наталия Гайда, заслуженные артисты Республики Беларусь Маргарита Александрович, Людмила Станевич и Антон Заянчковский, лауреаты международных конкурсов Евгений Ермаков, Виктор Циркунович, Лидия Кузьмицкая, Сергей Сутько, Екатерина Дегтярёва, Наталья Глух, Леся Лют, дипломанты международных конкурсов Александр Осипец, Дмитрий Матиевский, Анна Беляева, артисты театра Николай Русецкий, Сергей Килессо, Сергей Спруть, Евгений Далидович, а также Анатолий Ярмоленко-младший и народный артист Беларуси Анатолий Ярмоленко, Арина Хлус, артисты ансамбля солистов и артисты балета оперетты и мюзикла, симфонический оркестр театра под управлением главного дирижера театра, лауреата международного конкурса Юрия Галяса и дирижеров Марины Третьяковой и Николая Макаревича, а также дети артистов театра и детские хоровые коллективы Минска. ',
		},
		{
			url: 'https://www.youtube.com/embed/SVTgGu5S0tg?si=kiHjp7hzXFAKrHlT',
			title: '06.05.2021, Минск',
			text: 'В концерте приняли участие народные артисты Беларуси Наталия Гайда и Анатолий Ярмоленко, заслуженные артисты Республики Беларусь Маргарита Александрович, Антон Заянчковский, Людмила Станевич и Виктор Циркунович, лауреаты международных конкурсов Евгений Ермаков, Лидия Кузьмицкая, Сергей Сутько, Екатерина Дегтярёва, Сергей Спруть, Анна Егораева, Илона Казакевич, дипломанты международных конкурсов Александр Осипец, Артём Хомичёнок и Дмитрий Матиевский, артисты театра Сергей Килессо, Вера Кондратина, Алла Лукашевич, Владислав Динилович, Наталья Чебёлко, Николай Русецкий, Карина Самцова, Сергей Жаров, Дмитрий Климович, Евгений Далидович, Дмитрий Лобейко, Владислав Штылевский, артисты ансамбля солистов, артисты балета, а также артистка Национального академического драматического театра имени М.Горького Ольга Здярская, симфонический оркестр театра под управлением главного дирижера театра – лауреата международного конкурса Юрия Галяса и Николая Макаревича. Режиссер концерта Валерия Чигилейчик.',
		},
		{
			url: 'https://www.youtube.com/embed/VqcgCM2rBHk?si=6Xs-KY8UPAqAaglN',
			title: '07.05.2021, Борисов',
			text: 'В концерте приняли участие народные артисты Беларуси Наталия Гайда и Анатолий Ярмоленко, заслуженные артисты Республики Беларусь Маргарита Александрович, Антон Заянчковский, Людмила Станевич и Виктор Циркунович, лауреаты международных конкурсов Евгений Ермаков, Лидия Кузьмицкая, Сергей Сутько, Екатерина Дегтярёва, Сергей Спруть, Анна Егораева, Илона Казакевич, дипломанты международных конкурсов Александр Осипец, Артём Хомичёнок и Дмитрий Матиевский, артисты театра Сергей Килессо, Вера Кондратина, Алла Лукашевич, Владислав Динилович, Наталья Чебёлко, Николай Русецкий, Карина Самцова, Сергей Жаров, Дмитрий Климович, Евгений Далидович, Дмитрий Лобейко, Владислав Штылевский, артисты ансамбля солистов, артисты балета, а также артистка Национального академического драматического театра имени М.Горького Ольга Здярская, симфонический оркестр театра под управлением главного дирижера театра – лауреата международного конкурса Юрия Галяса и Николая Макаревича. Режиссер концерта Валерия Чигилейчик.',
		},
		{
			url: 'https://www.youtube.com/embed/PRwEAZu2VbQ?si=tELPD4kYZSSWVxnU',
			title: '06.05.2022, Минск',
			text: 'В концерте принимали участие: народная артистка Беларуси Наталия Гайда, заслуженные артисты Республики Беларусь Маргарита Александрович, Антон Заянчковский, Людмила Станевич и Виктор Циркунович, заслуженный артист Татарстана, лауреат государственной премии России Марат Башаров, лауреаты международных конкурсов Евгений Ермаков, Лидия Кузьмицкая, Сергей Сутько, Виктория Жбанкова-Стриганкова, Екатерина Дегтярёва, Анна Егораева, Илона Казакевич, дипломанты международных конкурсов Александр Осипец, Артём Хомичёнок и Дмитрий Матиевский, артисты театра Вера Кондратина, Алла Лукашевич, Владислав Данилович, Наталья Чебёлко, Николай Русецкий, Михаил Колбенёв, Карина Самцова, Сергей Жаров, Владимир Свибович, артисты ансамбля солистов, артисты балета, симфонический оркестр театра под управлением главного дирижера театра – лауреата международного конкурса Юрия Галяса и Марины Третьяковой. Режиссер концерта Валерия Чигилейчик. Автор идеи и генеральный партнер проекта-акции - Григорий Владимирович Борозна.',
		},
		{
			url: 'https://www.youtube.com/embed/18N3qz42RpQ?si=iv6kv9sRFtpV0tYp',
			title: '04.05.2023, Минск',
			text: 'В концерте принимали участие: народные артистки Беларуси Наталия Гайда и Маргарита Александрович, заслуженные артисты Республики Беларусь Антон Заянчковский, Людмила Станевич и Виктор Циркунович, лауреаты международных конкурсов Евгений Ермаков, Лидия Кузьмицкая, Сергей Сутько, Екатерина Дегтярёва, дипломанты международных конкурсов Александр Осипец, Дмитрий Бахталин, артисты театра Владислав Данилович, Николай Русецкий, артисты ансамбля солистов, артисты балета, симфонический оркестр театра под управлением главного дирижера театра – лауреата международного конкурса Юрия Галяса и Марины Третьяковой. Режиссёр концерта – главный режиссёр театра, заслуженный деятель искусств России Михаил Ковальчик. Автор идеи и генеральный партнер проекта-акции - Григорий Владимирович Борозна.',
		},
		{
			url: 'https://www.youtube.com/embed/zUox-2mTw98?si=mMTwXU8yscjVrkpZ',
			title: '08.05.2024, Минск',
			text: 'Народная артистка Беларуси Маргарита Александрович, заслуженные артисты Республики Беларусь Антон Заянчковский, Людмила Станевич и Виктор Циркунович, лауреаты международных конкурсов Евгений Ермаков, Лидия Кузьмицкая, Сергей Сутько, Екатерина Дегтярёва, дипломанты международных конкурсов Александр Осипец, Анна Юринок, Дмитрий Бахталин, артист театра Николай Русецкий, артисты ансамбля солистов, артисты балета, симфонический оркестр театра под управлением главного дирижера театра – лауреата международного конкурса Юрия Галяса и Марины Третьяковой. Режиссёр концерта – главный режиссёр театра, заслуженный деятель искусств России Михаил Ковальчик. Автор идеи и генеральный партнер проекта-акции - Григорий Владимирович Борозна.',
		},
	]