-
	var videos = [
		{
			url: 'https://www.youtube.com/embed/cJ3_RRIvrSw?si=yJ9RsN0CpduwR7GJ?autoplay=1',
			title: 'Концерт ко Дню Победы Минск 2014 год'
		},
		{
			url: 'https://www.youtube.com/embed/r_hl22tmJ2k?si=FGIPqwmjvbktILhr',
			title: 'Концерт ко Дню Победы Минск 2015 год'
		},
		{
			url: 'https://www.youtube.com/embed/0vgtYi30yzg?si=wscdUj5W_Stiwbdi',
			title: 'Концерт ко Дню Победы Минск 2016 год'
		},
		{
			url: 'https://www.youtube.com/embed/OL_tJ1p37iY?si=FtXEIF7BoBjSwLQQ',
			title: 'Концерт ко Дню Победы Минск 2017 год'
		},
		{
			url: 'https://www.youtube.com/embed/F5nJyuhAjWQ?si=AlbaiguDVAhhKfdZ',
			title: 'Концерт ко Дню Победы Могилев 2017 год'
		},
		{
			url: 'https://www.youtube.com/embed/IFYe4TShxak?si=pvYcHoH8HnLvvUCa',
			title: 'Концерт ко Дню Победы Минск 2018 год'
		},
		{
			url: 'https://www.youtube.com/embed/u9dpRM2_wEw?si=kQhjaba8GbgyFASr',
			title: 'Концерт ко Дню Победы Минск 2019 год'
		},
		{
			url: 'https://www.youtube.com/embed/SVTgGu5S0tg?si=kiHjp7hzXFAKrHlT',
			title: 'Концерт ко Дню Победы Минск 2021 год'
		},
		{
			url: 'https://www.youtube.com/embed/VqcgCM2rBHk?si=6Xs-KY8UPAqAaglN',
			title: 'Концерт ко Дню Победы Борисов 2021 год'
		},
		{
			url: 'https://www.youtube.com/embed/PRwEAZu2VbQ?si=tELPD4kYZSSWVxnU',
			title: 'Концерт ко Дню Победы Минск 2022 год'
		},
		{
			url: 'https://www.youtube.com/embed/18N3qz42RpQ?si=iv6kv9sRFtpV0tYp',
			title: 'Концерт ко Дню Победы Минск 2023 год'
		},
		{
			url: 'https://www.youtube.com/embed/zUox-2mTw98?si=mMTwXU8yscjVrkpZ',
			title: 'Концерт ко Дню Победы Минск 2024 год'
		},
	]