include ../utility/_globalVars
include ../utility/_mixins
include ../utility/_functions

block vars
	- var pageTitle
	- var pageBodyClass
	- var dir

- var componentsList = [] //список имен всех компонентов
- var componentsCriticalList = [] // список имен компонентов, стили которых нужно подключить инлайного в head
- var componentsScriptsList = [] // список имен компонентов, скрипты которых нужно подключить на страницу. они не должны подключаться в main.js
- var vendorScriptsList = [] // список имен вендоров, скрипты которых нужно подключить на страницу. они не должны подключаться в main.js

doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(name='format-detection' content='telephone=no')
		meta(name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1.0')
		meta(name='description' content='Видеозаписи праздничных концертов, посвященных 9 мая и 3 июля при поддержке УП "АЭС комплект"')
		meta(name="robots" content="index, follow")
		title= pageTitle

		link(rel="icon" type="image/png" href="/favicon.ico" sizes="48x48")
		link(rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16")
		link(rel="apple-touch-icon" href="/favicons/apple-touch.png" sizes="180x180")
		link(rel="apple-touch-icon" href="/favicons/android-chrome-192x192.png" sizes="192x192")
		link(rel="apple-touch-icon" href="/favicons/android-chrome-512x512.png" sizes="512x512")
		<link rel="manifest" href="/site.webmanifest">

		<meta name="google-site-verification" content="x2K8uhsu2QFnzAK7FUViCjMimTTJT6x8goQggw-ITh0" />

		link(rel="preload" href="./assets/fonts/subset-Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous")

		link(rel="preload" href="./assets/fonts/subset-Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous")
		link(rel="preload" href="./assets/fonts/subset-Montserrat-ExtraBold.woff2" as="font" type="font/woff2" crossorigin="anonymous")

		// Стили для всех страниц
		link(href="./critical.css" rel="stylesheet")
		//- Подключение критических стилей отдельных страниц
		block componentsCriticalStyles

	body(
		class=pageBodyClass
		x-data="{ isOverflow: false }"
		:class="isOverflow && 'overflow'"
	)

		.wrapper
			include ../components/header/header



			main.main
				block main




		script(src="./assets/js/vendor/fancybox.min.js" defer)
		script(src="./assets/js/vendor/splide.min.js" defer)

		//- Либы, используемые только на этой странице
		block vendorScripts

		block scripts
		script(src="./assets/js/app.min.js" defer)


		block componentsScripts


		block componentsStyles
		script(src="./assets/js/alpinejs/alpine.min.js" defer)

